.CurrentSample {
    user-select: none;
    background-color: white;
    padding: 2rem 5rem 2rem 5rem;
    margin: 1rem 5rem 1rem 5rem;
    overflow-y: scroll;
}

.SampleTitle {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 1rem;
}

.SampleText {
    text-align: left;
    text-indent: 2rem;
    width: 100%;
}

.Paragraph {
    padding: .5rem;
}

.center {
    padding: .5rem;
    text-align: Center;
}

.CurrentSampleContainer {
    max-width: 100rem;
    display: flex;
    justify-content: center;
    min-height:0;
    min-width: 0;
    background-color: #404653;
}