.CurrentSample {
    user-select: none;
    background-color: white;
    padding: 5rem;
    margin: 1rem 10rem 1rem 10rem;
    overflow-y: scroll;
    width: 100%;
}

.SampleTitle {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 1rem;
}

.SampleText {
    text-align: left;
    text-indent: 2rem;
    width: 100%;
}