.SampleList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 50%;
}

.SampleItem {
  display: flex;
  border-radius: 1.5rem;
  max-width: 12rem;
  color: white;
  font-weight: bolder;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-height: 4rem;
}

.SampleItem p {
  margin: 0.25rem;
}

.SampleItem:hover {
  color: #000000;
  background-color: #bf1e2e;
  cursor: pointer;
}
