@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App {
    display: flex;
    text-align: center;
    background-color: #404653;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Raleway;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SiteHeader {
    height: 7%;
}

.Home {
    height: 88%;
}

.SiteFooter {
    height: 5vh;
}